.pic{
    height: 40px;
}
.picc{
    height: 30px; 
    
    
}
.bg-danger{
    background-color: orangered !important;
    border-radius: 50px;
    
}
.cen{
    background-color:cornsilk;
    color: black;
    margin-left: 70px;
}
.picc:hover{
    background-color: orangered!important;
}
.hov:hover{
    color: orangered;
}
.hov{
    color: black;
    
}
.ceni:hover{
  background-color: ghostwhite
}
