.lact{
    height: 250px !important;
    width: 400px !important;
}
.hako{
    padding-bottom: 50px !important;
    padding-top: 90px !important;
}
.jaco{
    padding-bottom: 90px !important;
}
.jam{
    padding-top: 60px !important;
    padding-bottom: 20px !important;
}
.dani{
    color: lightgrey !important;
    font-weight: bold;

}
