.doi{
    padding-bottom: 50px;
    padding-top: 130px !important;
}
.doil{
    padding-bottom: 80px !important;
}
.laa{
   height: 250px !important;
   width: 1400px !important;
    align-items: center !important;
}